sqlalchemy 
fastapi
alembic 
uvicorn
psycopg2-binary
email-validator 
python-jose[cryptography]
python-multipart
passlib[bcrypt]
libgravatar
fastapi-mail 
python-dotenv 
redis
fastapi-limiter
cloudinary
pydantic[email]
pydantic-settings
pytest
httpx
pytest-asyncio 
sphinx

